#header {
	background-color: black;
	color: red;
	padding-top: 5pt;
	padding-bottom: 5pt;
	margin-bottom: 15pt;
	font-size: 25pt;
	font-size: 7vmin;
}

img.fitbox {
	object-fit: contain;
	border: 1px solid black;
	background-color: gray;
}


img.big {
	width:  40vw;
	height: 40vh;
	display: block;
	margin: 0 auto;
	qwidth:  50vw;
	qheight: 50vh;
}

.small {
	width:  5vw;
	height: 5vw;
	margin-top:    2vw;
	margin-bottom: 1vw;
	margin-left:   0.38vw;
	margin-right:  0.38vw;
}


.focus-small {
	width:  5vw;
	height: 5vw;
	margin-top:    1vw;
	margin-bottom: 2vw;
	margin-left:   0.38vw;
	margin-right:  0.38vw;
}

div#left-pane {
	float: left;
background-color: orange;
display: inline-block;
	width: 50%;
	text-align: center;
}

div#big-one    {background-color: blue;}
span#small-ones {
	background-color: yellow;
	display: inline-block;
}

div#info {
background-color: green;
	float: right;
	width: 49%;
	font-size: 4vmin;
}

div#small-ones {
	background-color: lightgray;
}

img.navigation {
	object-fit: fill;
	width:  2vw;
	height: 5vw;
	margin-top:    2vw;
	margin-bottom: 1vw;
border: 1px dotted black;
}

img#left  {margin-left:  0}
img#right {margin-right: 0}
